/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.top-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    /* padding: 0px 2px 6px 2px; */
    padding: 5px;
    background: #555;
    color: #fff;
    margin: 0 auto;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    align-items: center;
    padding: 5px 15px 5px 10px;
    min-height: 28px;
}

.bottom-header {
    display: flex;
    padding: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.home-button {
    content: "U+1F3E0";
    height: 20px;
    width: 20px;
    padding-left: 20px
}

.bottom-border {
    display: flex;
    background: #eee;
    height: 77px;
    align-items: center;
    padding: 8px 20px;
    border-bottom: 1px solid #ccc;
    line-height: 20px;
}

.search-box {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 20px;
}
.title {
    font-weight: bold;
    margin: auto 0;
    font-size: 22px;
    padding: 5px;
}

.footer {
    background: #555;
    height: 249px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.background-pic {
    /* background-size: 100% 100%; */
    /* height: 450px; */
    /* width: 100%; */
}

.session-form {
    margin: 0;
<<<<<<< HEAD
    height: 100vh;
    // background-color: red;
    background-image: asset-data-url("background.jpg");
//     display: flex;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
=======
    height: 100%;
<<<<<<<< HEAD:app/assets/stylesheets/application.css.scss
    // background-image: asset-data-url("background.jpg");
========
    /* background-image: asset-data-url("background.jpg"); */
    /* background: red; */
>>>>>>>> 235907f4fe597f6bc6ef6c51969ed38509648efa:app/assets/stylesheets/application.css
>>>>>>> 235907f4fe597f6bc6ef6c51969ed38509648efa
}

.pipe {
    padding: 5px;
}

.logo {
    width: 40px;
    height: 40px;
    margin: auto 0;
    padding-left: 20px;
}

.logo-title {
    display: flex;
    justify-content: space-between;
}

.login {
    padding-right: 20px;
}

.user {
    height: 20px;
    width: 20px;
    padding-right: 20px;
}

.session-form-box {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100%;
    position: absolute;
    left: 50px;
    padding: 14px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;

}

/* .session-form-container {
    background-image: url("background.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
     background-size: cover;

} */

/* html, body {
    margin: 0;
    height: 100%;
    background-image: url("background.jpg");
} */

.input {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 9px 11px;
    height: auto;
    line-height: 20px;
    width: 210px;
    border-radius: 4px;
    margin: 10px;
    position: relative;

}

.button {
    border: 1px solid #e5991e;
    background-color: #faac18;
    padding: 9px 11px;
    height: auto;
    line-height: 20px;
    width: 210px;
    border-radius: 4px;
    text-align: center;
    margin: 10px;
    color: white;
}
.bottom-p-line {
    text-align: center;
}

.error-0 {
    list-style-type: none;
    /* position: absolute; */
    /* top: 60px;
    left: 100px; */
    border: 1px solid red;
    background-color: red;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    width: 100px;
    font-size: x-small;
    color: white;
    text-align: center;
    position: relative;
    left: 138px;
    padding: 2px;
}

.error-1 {
    list-style-type: none;
    /* position: absolute; */
    /* left: 125px; */
    border: 1px solid red;
    background-color: red;
    border-radius: 5px;
    /* top: 0; */
    overflow: hidden;
    position: relative;
    display: block;
    width: 100px;
    font-size: x-small;
    color: white;
    text-align: center;
    left: auto;
    position: relative;
    left: 138px;
    padding: 2px;
}

.error-2 {
    list-style-type: none;
    /* position: absolute; */
    /* top: 100px; */
    /* left: 70px; */
    border: 1px solid red;
    background-color: red;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    display: block;
    width: 100px;
    font-size: x-small;
    color: white;
    text-align: center;
    position: relative;
    left: 138px;
    padding: 2px;
}



.dropdown {
    width: 300px;
    height: 100px; 
    position: absolute;
    background: white;
    right: 0;
    padding: 10px;
    display: block;
    left: auto;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    background-clip: padding-box;
    min-width: 160px;
    float: right;
    top: 35px;
    right: 15px;

}

.logoutbutton {
    color: black;
    border: 1px solid lightgray;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    padding: 6px 12px;
    background-color: #eee;
    border-color: #d4d4d4;
    
}