/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.top-header {
    display: flex;
    justify-content: space-between;
    // border-bottom: 1px solid black;
    /* padding: 0px 2px 6px 2px; */
    padding: 5px;
    background: #555;
    color: #fff;
    margin: 0 auto;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    align-items: center;
    padding: 5px 15px 5px 10px;
    min-height: 28px;
}

.bottom-header {
    display: flex;
    padding: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-right: 0;
}

.home-button {
    content: "U+1F3E0";
    height: 20px;
    width: 20px;
    padding-left: 20px
}

.home-button:hover {
    color:white;
}

.bottom-border {
    display: flex;
    background: #eee;
    height: 72px;
    align-items: center;
    padding: 8px 20px;
    border-bottom: 1px solid #ccc;
    line-height: 20px;
}

.search-box {
    width: 100px;
}
.title {
    font-weight: bold;
    margin: auto 0;
    font-size: 22px;
    padding: 5px;
}

.footer {
    background: #555;
    height: 249px;
    // position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    // display: grid;
    // grid-template-rows: 1fr 1fr;
    // grid-template-columns: 1fr 1fr;
    z-index: 5;
    border: none;
    position: relative;
    border-color: #555;
    display: flex;
    justify-content: center;
}




.background-pic {
    /* background-size: 100% 100%; */
    height: 450px; 
    // width: 100%; 
    // position: relative;
    // overflow: hidden;
    // width: 450px;
    // height: 100%;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: 50% 50%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;


    // width: 150px; /* width of container */
    // height: 150px; /* height of container */
    
    // clip: rect(0px,60px,200px,0px);
}

// .background-pic {
//     position: absolute;
//     right: -100;
//     bottom: -100;
// }

.session-form {
    margin: 0;
    height: 100vh;
    background-image: asset-data-url("background.jpg");
    background-size: cover;
    width: 100%;
}

.pipe {
    padding: 8px;
}

.logo {
    width: 40px;
    height: 40px;
    margin: auto 0;
    // padding-left: 20px;  
}


.logo-title {
    display: flex;
    justify-content: space-between;
    font-family: "myriad-pro",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.login {
    text-decoration: underline;
}

.signup {
    text-decoration: underline;
}




.user {
    height: 20px;
    width: 20px;
    padding-right: 7px;
}

.user:hover {
    cursor: pointer;
}

.session-form-box {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    // height: 910px;
    // height: 795px;
    height: 100%;
    width: 420px;
    left: 50px;
    padding: 14px;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    justify-content: flex-start;
    position: relative;
    // align-items: center;
    
    
}

/* .session-form-container {
    background-image: url("background.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
     background-size: cover;

} */

/* html, body {
    margin: 0;
    height: 100%;
    background-image: url("background.jpg");
} */

.input {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 9px 11px;
    height: auto;
    line-height: 20px;
    width: 377px;
    // width: 100%;
    border-radius: 4px;
    margin: 10px;
    position: relative;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
}
.input-wrapper {
    position: relative;
}

.or-line {
    // border-top: 1px solid white; 
    // margin: 20px 0;
    // width: 328px;
    // margin-left: 48px;
       width: 168px; 
   text-align: center; 
   border-bottom: 1px solid #fff; 
   line-height: 0.1em;
//    margin: 10px 0 20px;

//    padding-left: 10px;
    
}
.or-line-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
    margin-bottom: 19px;
}

.ortext { 
    padding:0 10px;
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}


.demo-button {
    background-color: #30B0D5;
    border: 1px solid #30B0D5;
    padding: 9px 11px;
    height: auto;
    line-height: 20px;
    margin-top: 115px;
    width: 377px;
    // width: 100%;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
    color: white;
    font-size: 17.5px;
    font-weight: 400;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    // margin-bottom: 24px;
}


.button {
    border: 1px solid #e5991e;
    background-color: #faac18;
    padding: 9px 11px;
    height: auto;
    line-height: 20px;
    width: 377px;
    // width: 100%;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    color: white;
    font-size: 17.5px;
    font-weight: 400;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.bottom-p-line {
    text-align: center;
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.error-0 {
    list-style-type: none;
    position: absolute;
    border: 1px solid #CE4126;
    background-color: #CE4126;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    width: 100px;
    font-size: 11px;
    color: white;
    text-align: center;
    left: 297px;
    padding: 6px;
    bottom: 55px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}

.error-1 {
    list-style-type: none;
    position: absolute;
    /* left: 125px; */
    border: 1px solid #CE4126;
    background-color: #CE4126;
    border-radius: 5px;
    /* top: 0; */
    overflow: hidden;
    display: block;
    width: 100px;
    font-size: 11px;
    color: white;
    text-align: center;
    left: 297px;
    padding: 6px;
    bottom: 55px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.error-2 {
    // list-style-type: none;
    // position: absolute;
    // /* top: 100px; */
    // /* left: 70px; */
    // border: 1px solid #CE4126;
    // background-color: #CE4126;
    // border-radius: 5px;
    // // overflow: hidden;

    // display: block;
    // width: 200px;
    // font-size: 11px;
    // color: white;
    // text-align: center;
    // bottom: 55px;
    // text-overflow: ellipsis;
    // left: 198px;
    // padding: 6px;
    // font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      list-style-type: none;
    position: absolute;
    /* left: 125px; */
    border: 1px solid #CE4126;
    background-color: #CE4126;
    border-radius: 5px;
    /* top: 0; */
    overflow: hidden;
    display: block;
    width: 125px;
    font-size: 11px;
    color: white;
    text-align: center;
    left: 272px;
    padding: 6px;
    bottom: 55px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.downarrow-0 {

    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #CE4126;
    width: 1px;
    position: absolute;
    z-index: 0;
    bottom: 50px;
    left: 353px;
}

.downarrow-1 {

    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #CE4126;
    width: 1px;
    position: absolute;
    z-index: 0;
    bottom: 50px;
    left: 353px;
}
.downarrow-2 {
     height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #CE4126;
    width: 1px;
    position: absolute;
    z-index: 0;
    bottom: 50px;
    left: 353px;

    // height: 0; 
    // border-left: 5px solid transparent;
    // border-right: 5px solid transparent;
    // border-top: 5px solid #CE4126;
    // width: 1px;
    // position: absolute;
    // z-index: 0;
    // bottom: 50px;
    // left: 300px;
}

//dropdown component

.dropdown {
    width: 300px;
    height: 300px;
    min-height: 300px; 
    position: absolute;
    background: white;
    right: 0;
    padding: 10px;
    left: auto;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    background-clip: padding-box;
    min-width: 160px;
    float: right;
    top: 35px;
    right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 50;
}

.logout-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}   

.logoutbutton {
    color: black;
    border: 1px solid lightgray;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    padding: 6px 12px;
    background-color: #f6f6f6;
    border-color: #d4d4d4;
    height: 15px;
    text-align: center;  
    margin-right: 9px;
}

.logoutbutton:hover {
    background-color: #eee;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.profile-link {
    color: darkgray;
    font-size: 14px;
    padding-left: 9px;
}

.profile-link:hover {
    color: black;
    cursor: pointer;
}

.create-recipe-link{
    color:white;
    background-color: #faac18;
    border-color: #e5991e;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: 10px;
    font-size: 18px;
    font-weight: 300;
    padding: 11px 19px;
    margin-top: 32px;
    margin-bottom: 22px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    z-index: 50;
}
.create-recipe-link:hover {
    cursor: pointer;
    background-color: #f0a428;
    border-color: #e2961b;
}

.button-divider {
    border-top: 1px solid black;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

.img-link {
    position: relative;
    top: 207px;
    color: #bbb;
    margin: 0 auto;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    // left: 600px;
}

.line {
    border-bottom: 1px solid lightgray;
    position: relative;
    top: 183px;
    width: 1366px;
    height: 1px;
}

.recipes {
    background-color: #fff;
    border: 1px solid #dedede;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 12px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
}

.find {
    width: 20px;
    height: 20px;
    padding-left: 4px;
    // position: absolute;
    // left: 1380px;
    // // left: 1000px;
    // z-index: 4;
    // display: block
}

.search-find {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    height: 20px;
    width: 120px;
    padding: 6px 10px;
    background-color: #fff;
    font-size: 14px;
    color: #555;

}

.login-signout {
    padding-right: 6px;
    color: #fff;
    padding-top: 4px;
}

.motto-box {
    position: relative;
    shadow: 2px 2px 1px black;
}

.motto {
    position: absolute;
    color: white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 25px 0px;
    display: block;
    top: 150px;
    left: 190px;
}

.motto-text {
    text-shadow: 2px 2px 1px black;
    font-family: "myriad-pro-condensed",Helvetica,Arial,sans-serif;
    font-size: 60px;
    width:470;
    margin-bottom: 15px;
    font-weight: 700;
    display:block;
}

.motto-statement {
    text-align: center;
    text-shadow: 2px 2px 1px black;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 3px 0 10px;
    font-size: 18px;
}


// modal 

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 10;
}

.modal-child {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.recipe-create-form-container {
    height: 500px;
    width: 500px;
    background: white;
    border: 1px solid black;
    
    // justify-content: space-between;
}

.new-header {
    width: 455px;
    height: 140px;
    background-color: #15728C;
    border-radius: 6px 6px 0px 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.new-header > h1 {
    margin: 0 auto;
    font-weight: 500;
    color: white;
    font-size: 25px;
}

.recipe-create-form {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 253px;
}

.new-title {
    font-size: 18px;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.new-description {
    font-size: 18px;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

input.title-input {
    color: #aaa;
    border-bottom: solid 1px #c9c9c9;
    font-size: 18px;
    width: 350px;
    border-radius: 0;
    transition: border 0.3s;
}

input.title-input:focus {
    border-bottom: solid 1px #c9c9c9;
    box-shadow: none;

} 

input[type=text], textarea {
    line-height: 1.5;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
}

.description-input {
     color: #aaa;
    border-bottom: solid 1px #c9c9c9;
    font-size: 18px;
    width: 350px;
    transition: border .3s;
}

.start-recipe-button {
    padding: 11px 19px;
    font-size: 17.5px;
    background-color: #e86c00;
    border-radius: 6px;
    border-color: #cf6000;
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 149px;
    text-align: center;
}

.recipe-error-0 {
    list-style-type: none;
    position: absolute;
    border: 1px solid #CE4126;
    background-color: #CE4126;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    width: 100px;
    font-size: 11px;
    color: white;
    text-align: center;
    left: 235px;
    padding: 6px;
    bottom: 55px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}
.recipe-error-1 {
    list-style-type: none;
    position: absolute;
    border: 1px solid #CE4126;
    background-color: #CE4126;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    width: 100px;
    font-size: 11px;
    color: white;
    text-align: center;
    left: 235px;
    padding: 6px;
    bottom: 65px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.input-wrapper-create-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recipe-downarrow-0{

    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #CE4126;
    width: 1px;
    position: absolute;
    z-index: 0;
    bottom: 50px;
    left: 290px;
}
.recipe-downarrow-1{

    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #CE4126;
    width: 1px;
    position: absolute;
    z-index: 0;
    bottom: 60px;
    left: 290px;
}