// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//recipes index

.recipe-index-container {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // margin: 0 auto;
    // align-self: center;
}

.recipe-container {
    // display: block;
    height: 367px;
    width: 306px;
    min-width: 306px;
    border: 1px solid black;
    // float: left;
    background: white;
    margin: 10px 10px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

// .recipes-wrapper {
//     margin-top: 90px;
//     margin-bottom: 900px;
//     display: block;
//     margin: 80px;
//     align-content: center;
// }


.recipes-index {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 60px;
    min-height: 660px;
    // justify-content: center;
    // min-width: 1610px;
    // margin: 0 auto;
    // padding: 0px 136px 0px 136px ;
    // align-self: center;
    // display: block;
    // margin-left: 100px;
    // margin-bottom: 5000px;
    
}

.bottom-space-provider {
}

.description-box {
    color: #999999;
    overflow: hidden;
    padding: 10px 13px;
    height: 50px;
    margin-bottom: 10px;
    font-size: 13px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.by {
    padding: 0 4px 0 4px;
}

.recipe-footer {
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;
    justify-content: space-between;
    align-items: center;
    color: #76736e;
    height: 15px;
    border-top: 1px solid #e7e7e7;
    padding: 7px 8px 8px;
    width: 290px;
}

.vertical-line {
    border-right: 1px solid  #e7e7e7;
    display: inline-block;
    height: 30px;
    margin-right: 228px;
}

// .starline {
//     display: block;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;

// }

.star {
    height: 15px;
    width: 15px;
    padding: 5px;
    margin-right: 6px;
}
.heart {
    height: 15px;
    width: 15px;
    // margin-right: 10px;
}
.eye {
    height: 15px;
    width: 15px;
}

.heart-eye {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
}

.recipe-pic {
    max-width: 100%;
    height: 100%;
    z-index: 2;
    vertical-align: middle;
    // background-image: asset-data-url("pancakes.jpg");
    object-fit: cover;
    background-position: center;
}

.recipe-pic-wrapper {
    max-width: 100%;
    height: 255px;
}

.recipe-title {
    line-height: 20px;
    font-size: 14px;
    color: #333333;
    font-weight: 700;
}

.recipe-title:hover {
    text-decoration: underline;
    color: #333333;
}

.author-name {
    color: #555555;
    font-size: 13px;
    line-height: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.author-name:hover {
    text-decoration: underline;
    color: #555555;
    // font-size: 13px;
    line-height: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


//recipes show

.cc {
    height: 15px;
    width: 80px;
}

.recipe-title-show {
    color: #333333;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-bottom: 10px; 
}

.recipe-show-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.publish-cc {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
} 

.author {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #999;
}
.author-name {
    color: #555;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.cc {
    margin-left: 10px;
}

.published {
    color: #999;
    font-size: 14px;
    font-weight: normal;
}

.description {

}

.usericon {
    // height: 80px;
    // width: 80px;
    // margin-right: 15px;
    display: inline;
    margin: 0 auto;
    margin-left: -25%; 
    height: 100%;
    width: auto;
}

.crop {
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;
}

.crop2 {
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    margin-left: 4px;
    
}

.author-icon-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.author-info {
    display: flex;
    border: 1px solid black;
    border-radius: 6px;
    padding: 15px;
    justify-content: space-between;
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    color: #777;
    min-width: 770px;
    box-sizing: border-box;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    // width: 770px;
}

.username {
    font-weight: 700;
    font-size: 16px;
    color: #555;
    margin-left: 4px;
}

.username:hover {
    text-decoration: underline;
    font-weight: 700;
    font-size: 16px;
    color: #555;
    margin-left: 4px;
}

.author-recipe-pic {
    // height: 80px;
    // width: 80px;
    // height: auto;
    // width: auto;
    display: inline;
    margin: 0 auto;
    margin-left: 0%; 
    height: 100%;
    width: auto;
    
}

.pics-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.more-by-author {
    color: #777;
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 78px;
    overflow-wrap: normal;
    margin-right:8px;
    line-height: 20px;
    
}

.description {
    font-family: Nunito,helvetica,arial,sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #555555;
    margin-top: 23px;
    margin-bottom: 20px;
    line-height: 32px;
}

.intro-container {
    padding: 0px 20px 0px 20px;
        max-width: 770px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
}

.main-recipe-pic {
    max-height: 693.33px;
    // max-width: 520px;
    max-width: 700px;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 33px;
}

.bottom-line {
    border-bottom: 1px solid #d6d6d6;
    width: 100px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
    
}

.delete-recipe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delete-button {
    background-color: #faac18;
    border-color: #e5991e;
    color: #fff;
    border-radius: 4px;
    height: 50px;
    font-size: 18px;
    width: 146px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.delete-button:hover {
    background-color: #f0a428;
    border-color: #e2961b;

}

.edit-button {
    background-color: #faac18;
    border-color: #e5991e;
    color: #fff;
    border-radius: 4px;
    height: 50px;
    font-size: 18px;
    width: 146px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-left: 50px;
}

.edit-button:hover {
    background-color: #f0a428;
    border-color: #e2961b;

}

.entire-show-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    height: 100%;
    min-height: 750px;
}

.delete-edit {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


// new form

.recipe-create-form-container {
    height: 392px !important;
    width: 455px !important;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    border-radius: 6px;

}


//edit form 

.edit-form {
    width: 1018px;
    background: white;
    border: 1px solid black; 
    border-radius: 9px;
    min-height: 100px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-color: #CBCFD0;
    height: 100%;
}

.pic-box {
    background-color: #eeeeee;
    width: 990px;
    height: 115px;
    border: 1px solid #dedede;
    border-radius: 10px;
    box-shadow: inset 0 0 3px 3px #dfdfdf;
    margin: 10px;
      display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.pic-box:hover {
    cursor: pointer;
}

.form-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f6f6f6;
    width: 100%;
    align-items: center;
    border-radius: 9px;
    margin-bottom: 18px;
    position: sticky;
    top: 0;
    z-index: 5;
}

button.edit-submit-button {
    background-color: #e86c00;
    border-color: #cf6000;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 12px;
    width: 73px;
    height: 33px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-right: 12px;
    box-sizing: border-box;
    margin-bottom: 12px;
}

button.edit-submit-button:hover {
    background-color: #df6902;
    border-color: #c55b00;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 12px;
    width: 73px;
    height: 33px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.title-body-container {

    width: 800px;
    height: 594px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f6f6;
     border: 1px solid black; 
    border-radius: 9px;
    margin-bottom: 180px;
    border-color: #CBCFD0;
    margin-top: 30px;

}

.edit-title-box {
    width: 765px;
    height: 20px;
    font-weight: 700;
    font-size: 18px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    padding: 4px 6px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}









.edit-body-box {
    min-height: 370px;
    padding: 10px;
    padding-bottom: 5px;
    overflow: auto;
    font-size: 15px;
    line-height: 1.5rem;
    font-family: Arial,Helvetica,Verdana,Tahoma,sans-serif;
    color: black;
    width: 764px;
    height: 385px;
    background-color: white;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    height: 20px;
    padding: 4px 6px;
    // margin-bottom: 208px;
}


.bottom-pic-bar {
    background-color: #f6f6f6;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 0 rgba(0,0,0,0.15);
}

.pic-box-2 {
    border-radius: 10px;
    box-shadow: inset 0 0 3px rgba(0,0,0,.15);
    background-color: white;
    border: 1px solid #dedede;
    font-size: 14px;
    line-height: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    width: 776px;
    height: 89px;
    margin-top: 10px;
}

.intro-step-segment-active  {
    position: relative;
    display: block;
    color: #333;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 100%;
    border: 1px solid black;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f6f6f6;
    width: 970px;
    height: 147px;
    margin: 18px 0 18px 0;

}
.intro-step-segment-inactive  {
    position: relative;
    display: block;
    color: #333;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 100%;
    border: 1px solid black;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f6f6f6;
    width: 970px;
    height: 147px;
    margin: 18px 0 18px 0;
    display: flex;
    align-items: center;

}
.intro-step-segment-inactive:hover {
    cursor: pointer;
}
.intro-step-segment-active:hover {
    cursor: pointer;
}

.intro-pic-box {
    background-color:white;
    width: 990px;
    height: 115px;
    border: 1px solid #dedede;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.15);
    margin: 10px 10px 10px 10px;
    height: 85%;
}

.title-description-wrapper {
    display: block;
    width: 654px;

}

.add-step-button {
    background-color: #f6f6f6;
    border: 1px solid #dedede;
    color: #333;
    font-size: 17.5px;
    border-radius: 6px;
    padding: 11px 19px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 160px;
    font-weight: 400;
}



// .intro-step-segment-inactive {
//     display: flex;
//     align-items: center;
// }

// .intro-step-segment-active {
//     display: flex;
//     align-items: center;
// }

.intro-step-button {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
 
    margin-right: 5px;
    position: absolute;
    height: 147px;
    // z-index: 1000;
    left: 560px;
    opacity: 0;
    transition: opacity 0.75s;

    // left: 1200px;
    // height: 150px;
}
.intro-step-button:hover {
    width: 400px;
    margin-right: 5px;
    position: absolute;
    height: 147px;
    left: 560px;
    // z-index: 1000;
    opacity: 1;

    // left: 1200px;
    // height: 150px;
}

.placeholder {
    // height: 20px;
    // width: 20px;
}

.arrow-icon {
    // position: absolute;
    width: 25px;
    height: 40px;
    top: 50px;
    padding-right: 5px;

}

.arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


.add-step-button:hover {
    background-color: #eee;
    border-color: #d4d4d4;
    color: #333;
    transition: background-position .1s linear;
}

.picture-present-recipe-edit {
    background-color: #f6f6f6;
    box-shadow: none;
    border: none;
}



