// Place all the styles related to the Steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.step-index {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}
.step-title {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
    color: black;
}

.step-container {
    color: #333;
    font-size: 14px;
    font-family: Nunito,helvetica,arial,sans-serif;    
    font-size: 20px;
    line-height: 32px;
    text-align: left;
    color: #555;
    // padding: 0px 20px 0px 20px;
    font-weight: 300;
    width: 100%;
}

.step-body {
    width: 770px;
    margin-left: auto;
    margin-right: auto;
}

.step-photo {
    min-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 40px;
}

.step-photo-item {
    // min-width: 100%;
    // width: 100%;
    // height: 100%;
    // margin: 5px;
    // // max-width: 100%;
    // width: 50%;
    // height: 25%;
    border-radius: 4px;
    // max-width: 100%;
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.image-wrapper {
    margin: 3px;
    // width: auto;
    // height: auto;  
}



// .image-wrapper-2{
//     margin: 5px;
//     flex: .77;
// }
// .image-wrapper-1{
//     margin: 5px;
//     flex: 1.6;
// }

.image-box-container {
    min-width: auto;
    width: auto;
    height: auto;
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 25%;
}

.multi-preview {
    max-width: 100%;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
}

.preview-pic {
    max-width: 100%;
    height: 100%;
    width: auto;
}


.step-segment-inactive {
    color: #333;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 100%;
    border: 1px solid black;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f6f6f6;
    width: 970px;
    height: 147px;
    margin: 0 0 18px 0;
    display: flex;
    align-items: center;
    position: relative;
}

.step-segment-active {
    color: #333;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 100%;
    border: 1px solid black;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f6f6f6;
    width: 970px;
    height: 147px;
    margin: 0 0 18px 0;
    position: relative;
}

.step-segment-inactive {
    cursor: pointer;
}

.step-segment-active {
    cursor: pointer;
}

// .edit-step-pic-box {
//     display: block;
//     width: 100%;
//     margin: 0 auto;
//     height: 100%;
// }

.step-buttons {
    // // border: 1px solid black;
    // width: 37px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
    // margin-right: 5px;
    // height: 147px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
 
    margin-right: 5px;
    position: absolute;
    height: 147px;
    // z-index: 1000;
    left: 560px;
    opacity: 0;
    transition: opacity 0.75s;
}

.step-buttons:hover {

    width: 400px;
    margin-right: 5px;
    position: absolute;
    height: 147px;
    // z-index: 1000;
    opacity: 1;
    left: 560px;
}

.edit-step-form {
    width: 1018px;
    background: white;
    border: 1px solid black; 
    border-radius: 9px;
    min-height: 100px;
    margin: 0 auto;
    min-height: 1236px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-color: #CBCFD0;
    height: 100%;
}


.edit-step-form-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f6f6f6;
    width: 100%;
    align-items: center;
    border-radius: 9px;
    margin-bottom: 18px;
    position: sticky;
    top: 0;
}

.edit-step-pic-box {
    background-color: #eeeeee;
    width: 990px;
    height: 115px;
    border: 1px solid #dedede;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.15);
    margin: 10px 10px 10px 10px;
    // height: 85%;
}

.edit-step-pic-second-box {
    background-color: white;
    width: 990px;
    height: 125px !important;
    border: 1px solid #dedede;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.15);
    margin: 10px 10px 10px 10px;
}



.edit-step-bottom-pic-bar {
    background-color: #f6f6f6;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 0 rgba(0,0,0,0.15);
}

.view-all-button {
    background-color: #f6f6f6;
    border: 1px solid #dedede;
    color: #333;    
    border-radius: 4px;
    line-height: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 0 12px;
    width: 73px;
    height: 33px;
    margin-left: 12px;
    margin-bottom: 12px;
}
.view-all-button:hover {
    background-color: #eee;
    border:1px solid #d4d4d4;
    color: #333;  
    border-radius: 4px;
    line-height: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 0 12px;
    width: 73px;
    height: 33px;
    margin-left: 12px;
    margin-bottom: 12px;
}

.plus-add-button {
    background-color: #f6f6f6;
    border: 1px solid #dedede;
    color: #333;    
    border-radius: 4px;
    line-height: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 0 12px;
    width: 73px;
    height: 33px;
    margin-left: 12px;
    margin-bottom: 12px;
    text-align: center;
}
.plus-add-button:hover {
    background-color: #eee;
    border:1px solid #d4d4d4;
    color: #333;  
    border-radius: 4px;
    line-height: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 0 12px;
    width: 73px;
    height: 33px;
    margin-left: 12px;
    margin-bottom: 12px;
    text-align: center;
}

.edit-step-submit-button {
    background-color: #df6904;
    border-color: #cf6000;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 12px;
    width: 73px;
    height: 33px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-right: 12px;
    box-sizing: border-box;
    margin-bottom: 12px;
}

.edit-step-title-body-container {

    width: 800px;
    height: 594px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f6f6;
     border: 1px solid black; 
    border-radius: 9px;
    margin-bottom: 180px;
    border-color: #CBCFD0;
    margin-top: 30px;

}

.edit-step-pic-smaller-box {
    border-radius: 10px;
    box-shadow: inset 0 0 3px rgba(0,0,0,.15);
    background-color: white;
    border: 1px solid #dedede;
    font-size: 14px;
    line-height: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    width: 776px;
    height: 89px;
    margin-top: 10px;
    //   background-color: #eeeeee;
    // width: 990px;
    // height: 115px;
    // border: 1px solid #dedede;
    // border-radius: 10px;
    // -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.15);
    // margin: 10px 10px 10px 10px;

}

.edit-step-title-box {
    width: 765px;
    height: 20px;
    font-weight: 700;
    font-size: 18px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    padding: 4px 6px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.edit-step-body-box {
    min-height: 370px;
    padding: 10px;
    padding-bottom: 5px;
    overflow: auto;
    font-size: 15px;
    line-height: 1.5rem;
    font-family: Arial,Helvetica,Verdana,Tahoma,sans-serif;
    color: black;
    width: 764px;
    height: 385px;
    background-color: white;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    height: 20px;
    padding: 4px 6px;
    // margin-bottom: 208px;
}

.link-to-edit-recipe-title-description {
    color: #333;
    font-size: 15px;
    width: 100%;
    font-weight: 700;
    display: block;
    margin-top: 10px;
}

.link-to-edit-recipe-title-description:hover {
    text-decoration: underline;
}

.edit-step-body {
    font-size: 12px;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 13px;
    padding-bottom: 10px;
}

.edit-step-body:hover {
    cursor: pointer;
}

.link-to-edit-step-title-description {
    color: #333;
    font-size: 15px;
    width: 100%;
    font-weight: 700;
    display: block;
    margin-top: 10px;
}

.link-to-edit-step-title-description:hover {
    text-decoration: underline;
}

.drag-icon {
    margin-top: 7px;
    font-size: large;
}

.drag-icon:hover {
    cursor: pointer;
    font-size: large;
}



// .arrow-icon {
//     position: absolute;
//     width: 25px;
//     height: 40px;
//     top: 

// }

.close-icon {
    margin-bottom: 10px;
    font-size: large;
}

.close-icon:hover {
    // opacity: 1;
    cursor: pointer;
    color: red;
    font-size: large;
}


.save-button {
    background-color: #df6904;
    border-color: #cf6000;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 12px;
    width: 73px;
    height: 33px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-right: 12px;
    box-sizing: border-box;
    margin-bottom: 12px;
}

.save-button:hover {
    background-color: #e86c00;
    border-color: #c55b00;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 12px;
    width: 73px;
    height: 33px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
